{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="kuba" >
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Scheduler</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <!-- Optional theme -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-datetimepicker.css' %}">



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/moment-with-locales.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-datetimepicker.js' %}"></script>


    <link rel="stylesheet" href="{% static 'my.css' %}">

    <!-- Required by Toastr -->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
    {% block headAdds %}
    {% endblock %}
</head>

<body>

<div class="container">
    <nav class="avbar navbar-fixed-top navbar-inverse" role=navigation>
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'main_view' %}">System planowania</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'surveyManager' %}">Nowa ankieta</a></li>
                <li><a href="{% url 'surveyAnswer' %}">Wypełnij ankietę</a> </li>
                <li><a href="{% url 'websiteStatManager' %}">Statystyki</a></li>
                <li><a href="{% url 'contactManager'  %}">Kontakt</a></li>
                <li><a href="{% url 'termsAndConditions'  %}">Regulamin</a></li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if request.session.member_id %}
                <li><a href="{% url 'am_userInfo' %}">Konto</a></li>
                <li><a href="{% url 'logOut' %}">Wyloguj</a></li>
                {% else %}
                <li><a href="{% url 'registerView'  %}">Zarejestruj</a></li>
                {% endif %}
            </ul>

        </div>
    </nav>

    <!-- Main component for a primary marketing message or call to action -->
    <div class=container-fluid>
        <div class=row>
            <div class=col-sm-12>
                <div class=page-header>
                    <!-- Tytuł podstrony i najważniejsze informacje -->
                    <!-- Eg.
                        <h1>Ankieta</h1>
                        <p>
                            Utworzona przez
                            <span class="glyphicon glyphicon-user"></span>
                            Jan Kowalski dnia
                            <span class="glyphicon glyphicon-time"></span>
                            11.05.2016
                       </p>
                    -->

                    {% block title %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <div class=row>
            <div class=col-sm-8>
                <!-- Zawartość podstrony -->
                <!-- Eg.
                    <p class=lead> Coś ważnego </p>
                    <p> Inny tekst </p>
                -->
                {% block content %}
                {% endblock %}
            </div>


            <!-- Login/out panel -->
            {% if hideLoginPanel == None or hideLoginPanel == False %}
            <div class=col-sm-4>
                <div class="panel panel-default">
                    <div class=panel-heading>
                        <h4 class=panel-title>
                            {% if request.session.member_id %}
                                Zalogowany jako:
                            {% else %}
                                Panel logowania

                            {% endif %}
                        </h4>
                    </div>
                    <div class=panel-body>
                        {% if request.session.member_id %}
                            <p>
                                <span class="glyphicon glyphicon-user"></span>
                             {{ request.session.member_name }} {{ request.session.member_surname }}
                            </p>

                        {% else %}
                            {% include 'login_panel.html' %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}

            {% block additionalMenus %}
            {% endblock %}


        </div>
    </div>

</div>

<p>

</p>
</body>
</html>
