{% extends 'base.html' %}

{% block title %}
<h1>Zresetuj hasło</h1>
{% endblock %}
{% block content %}


{% if success_token %}
<div class="alert alert-success">
    {{success_token}}
</div>
{% endif %}

{% if error_token %}
<div class="alert alert-danger">
    <strong>Error!</strong> {{ error_token }}
</div>
{% endif %}


{% if change_panel == False %}
<form action="{% url 'changePassword' %}" method="post">
    {% csrf_token %}
<p>
        <label>Podaj swój adres email:</label>
        <input name="email" type="email" id="inputEmail" class="form-control" 
               placeholder="Email address" required
               autofocus>
</p>
<input type="submit" name="respond" value="Odzyskaj" class="btn btn-default navbar-bt" onClick="return validate()"/>
</form>

{% else %}

<form action="{% url 'changePassword' %}" method="post">
{% csrf_token %}
Otrzymany Kod: <input type="text" name="code"  id="code" class="form-control" placeholder="code" required>
Hasło: <input type="password" name="pass"  id="pass" class="form-control" placeholder="password" required>
Powtórz Hasło: <input type="password" name="rpass"  id="rpass" class="form-control"  placeholder="repeat password" required>
<input type="hidden" name="s_code" value={{code}} id="s_code" class="form-control" required>
<input type="hidden" name="email" value={{email}} id="email" class="form-control" required>
<input type="submit" name="respond" value="Odzyskaj" class="btn btn-default navbar-bt" onClick="return validate()"/>
</form>

{% endif %}
{% endblock %}
