<div class="panel panel-default">
                    <div class=panel-heading>
                        <h4 class=panel-title>
                            {% if request.session.member_id %}
                                Zalogowany jako:
                            {% else %}
                                Panel logowania

                            {% endif %}
                        </h4>
                    </div>
                    <div class=panel-body>
                        {% if request.session.member_id %}
                            <p>
                                <span class="glyphicon glyphicon-user"></span>
                             {{ request.session.member_name }} {{ request.session.member_surname }}
                            </p>

                        {% else %}
                            {% include 'login_panel.html' %}
                        {% endif %}
                    </div>
                </div>