<div id="pageHeader">
    <h1>Regulamin</h1>
    <p>
        Zawiera podstawowe zasady korzystania
    </p>
</div>

<div id="pageContent">
    <ol>

        <li>Regulamin określa zasady korzystania ze strony www.krzysztofstachanczyk.pythonanywhere.com oraz usług przez nią świadczonych.</li>
        <li>Każdy użytkownik serwisu zobowiązany jest do przestrzegania niniejszego regulaminu.</li>
        <li>Rejestracja w serwisie jest bezpłatna. Podanie danych osobowych jest dobrowolne.</li>
        <li>Niniejszy serwis umożliwa użytkownikom tworzenie oraz edytowanie ankiet z możliwością ich udostępniania.</li>
        <li>Strona nie udostępnia w żadnej formie danych użytkowników osobom nieupoważnionym.</li>

        <li>Zabronione jest publikowanie treści:</li>
        <ul>
            <li> promujących przemoc, dyskryminację lub nienawiść, </li>
            <li> naruszających dobra osobiste lub prywatność osób trzecich, </li>
            <li> zagrażających prawidłowemu funkcjonowaniu serwisu, </li>
            <li> reklamowych, </li>
            <li> spamu, </li>
            <li> a także wszelkich treści niezgodnych z obowiązującym prawem. </li>
        </ul>

        <li>Autor wyżej wymienionych treści ponosi pełną odpowiedzialność za skutki prawne wynikające z ich publikacji.</li>
        <li>Administator serwisu zastrzega sobie prawo do usunięcia treści niezgodnych z regulaminem.</li>
        <li>Administrator strony dokłada wszelkich starań aby zapewnić prawidłowe funkcjonowanie serwisu.</li>
        <li>Administrator strony zastrzega sobie prawo do zamknięcia serwisu bez podania przyczyny.</li>
        <li>Regulamin obowiązuje od momentu opublikowania. Administrator strony zastrzega sobie prawo do zmiany regulaminu. Nowy regulamin obowiązuje od momentu publikacji na stronie.</li>
    </ol>
</div>