{% extends 'base.html' %}

{% block title %}
<h1>Rejestracja</h1>
<p>
    Wypełnij poniższe pola i zapoznaj się z regulaminem
</p>
{% endblock %}

{% block content %}

{% if successfullRegistration == True %}
<div class="alert alert-success">
    <strong>Success!</strong> rejestracja przebiegła pomyślnie.
</div>
<p>
    Jesteś już pełnoprawnym użyktownikiem naszej strony. Od teraz możesz tworzyć ankiety i zarządzać już istniejącymi.
</p>
{% else %}
<form action="{% url 'registerRequest' %}" method="post" class="form-signin">
    {% csrf_token %}

    <p>
        <label>Imię:</label>
        <input name="name" type="text" id="inputName" class="form-control" placeholder="Name" required
               autofocus>
        <label>Nazwisko:</label>
        <input name="surname" type="text" id="inputSurname" class="form-control" placeholder="Surname" required
               autofocus>
        <label>Email:</label>
        <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required
               autofocus>
        <label>Hasło:</label>
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    </p>
    <p>
        {% if registerError %}
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{ registerError }}
    </div>

    </p>
    {% endif %}
    <button class="btn btn-default navbar-bt" type="submit" style="width: 100%;">Zarejestruj</button>
</form>
{% endif %}
{% endblock %}