{% extends 'base.html' %}

{% block title %}
<h1>Podaj ID ankiety na którą chcesz odpowiedzieć</h1>
<p>
    <span class="glyphicon glyphicon-info-sign"></span>
    ID to numer pozwalający na identyfikację zapytania. Powinieneś go otrzymać od osoby przeprowadzającej ankietę. Dzięki niemu możliwe jest udzielanie odpowiedzi na ankiety bez konieczności rejestracji.
</p>
{% endblock %}

{% block content %}
<p>
    <form action="{% url 'surveyAnswer' %}" method="get" class="form-signin">
    <label>ID:</label>
        <input name="userID" type="text" id="inputName" class="form-control" placeholder="ID" required
               autofocus>

        <button class="btn btn-default navbar-bt" type="submit" style="width: 100%;">Otwórz</button>

    </form>
</p>


{% if errorMsg %}
<p>
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{ errorMsg }}
    </div>
</p>
{% endif %}


{% endblock %}