{% extends 'base.html' %}



{% block title %}
    {% include 'survey_manager_components/survey_manager_title_section.html' %}
{% endblock %}

{% block content %}
    {% if request.session.member_id %}

        {% if lastOk == True %}
            <div class="alert alert-success">
                <strong>Success!</strong> Ostatnie zmiany zostały pomyślnie wprowadzone do bazy danych .
            </div>
        {% endif %}

        {% include 'survey_manager_components/survey_manager_survey_access_details.html' %}

        {% include 'survey_manager_components/survey_manager_answers_sum_up.html' %}

        {% include 'survey_manager_components/survey_manager_survey_editor.html' %}

    {% else %}
    <p>
        Aby móc tworzyć ankiety musisz się zalogowac lub utworzyć bezpłatne konto.
    </p>
    {% endif %}

{% endblock %}