{% extends 'base.html' %}

{% block title %}


<h1>
    Regulamin
</h1>
1. Regulamin określa zasady korzystania ze strony www.krzysztofstachanczyk.pythonanywhere.com oraz usług przez nią świadczonych.
</h1>
<p>
    2. Każdy użytkownik serwisu zobowiązany jest do przestrzegania niniejszego regulaminu.
</p>
<p>
    3. Rejestracja w serwisie jest bezpłatna. Podanie danych osobowych jest dobrowolne.
</p>
<p>
    3. Niniejszy serwis umożliwa użytkownikom tworzenie oraz edytowanie ankiet z możliwością ich udostępniania.
</p>

<p>
    3. Strona nie udostępnia w żadnej formie danych użytkowników osobom nieupoważnionym.
</p>

<p>
    4.Zabronione jest publikowanie treści:
    <ul>
        <li> promujących przemoc, dyskryminację lub nienawiść, </li>
        <li> naruszających dobra osobiste lub prywatność osób trzecich, </li>
        <li> zagrażających prawidłowemu funkcjonowaniu serwisu, </li>
        <li> reklamowych, </li>
        <li> spamu, </li>
        <li> a także wszelkich treści niezgodnych z obowiązującym prawem. </li>
    </ul>
</p>
<p>
    5. Autor wyżej wymienionych treści ponosi pełną odpowiedzialność za skutki prawne wynikające z ich publikacji.
</p>
<p>
    6. Administator serwisu zastrzega sobie prawo do usunięcia treści niezgodnych z regulaminem.
</p>

<p>
    7. Administrator strony dokłada wszelkich starań aby zapewnić prawidłowe funkcjonowanie serwisu.
</p>

<p>
    8. Administrator strony zastrzega sobie prawo do zamknięcia serwisu bez podania przyczyny.
</p>

<p>
    9. Regulamin obowiązuje od momentu opublikowania. Administrator strony zastrzega sobie prawo do zmiany regulaminu. Nowy regulamin obowiązuje od momentu publikacji na stronie.
</p>

{% endblock %}
