{% extends 'base.html' %}

{% block title %}
<h1>Witamy w sytemie ankietowania</h1>
<p>
    Strona założona dnia
    <span class="glyphicon glyphicon-time"></span>
    15.05.2016
</p>
{% endblock %}

{% block content %}
<h4>
    Dzięki naszej aplikacji możesz ustalić termin spotkania w kilku prostych krokach:
</h4>
<p>

    <span class="glyphicon glyphicon-calendar " aria-hidden="true" ></span>
    - zaplanuj wydarzenie, określ jego cel, temat i dostępne terminy
    <br>

    <span class="glyphicon glyphicon-user " aria-hidden="true" ></span>
    - wyślij link do ankiety znajomym i osobom które powinny pojawić się na spotkaniu
    <br>

    <span class="glyphicon glyphicon-time " aria-hidden="true" ></span>
    - poczekaj, aż wybiorą pasujący im termin
    <br>

    <span class="glyphicon glyphicon-ok " aria-hidden="true" ></span>
    - podejmij decyzje co do ostatecznego terminu i powiadom mailowo zainteresowanych
    <br>

</p>
<hr>
<h4>Scheduler oferuje również kilka innych ważnych udogodnień:</h4>
<p>
    <span class="glyphicon glyphicon-refresh " aria-hidden="true" ></span>
    - możliwość wznowienia ankiety
    <br>

    <span class="glyphicon glyphicon-duplicate " aria-hidden="true" ></span>
    - tworzenie i pobieranie raportów
    <br>

    <span class="glyphicon glyphicon-indent-right" aria-hidden="true" ></span>
    - edycję już opublikowanych ankiet z zachowaniem kompatybilnych odpowiedzi
    <br>

    <span class="glyphicon glyphicon-ban-circle" aria-hidden="true" ></span>
    - odpowiadanie na ankiety bez konieczności logowania
    <br>

    <span class="glyphicon glyphicon-list-alt" aria-hidden="true" ></span>
    - panel do zarządzania prowadzonymi ankietami powiązanymi z kontem
    <br>
</p>

{% endblock %}