{% if adminID %}

    <h1>
        Tabela
    </h1>

<div id="answerSumUpNew">
    <ul>
        {% if answerDates %}


                <table class="table-striped">
                    <thead>
                        <tr>
                            <th> </th>
                            <th> Od: </th>
                            {% for fromDate,toDate,fitUsers,numberOfVotes in answerDates %}
                            <th> {{ fromDate }} </th>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th> </th>
                            <th> Do: </th>
                            {% for fromDate,toDate,fitUsers,numberOfVotes in answerDates %}
                            <th> {{ toDate }} </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    {% for name,surname,email in answerUsers %}

                    <tr>
                        <th> {{ name }} {{ surname }} </th> <th></th>

                        {% for fromDate,toDate,fitUsers,numberOfVotes in answerDates %}
                            <td >
                            {% for n,s,e in fitUsers %}

                                {% if e == email %}
                                  <p style="text-align:center;" > &#10004; </p>

                                {% else %}
                                    <p></p>
                                {% endif %}
                            {% endfor %}
                                </td>

                        {% endfor %}


                    </tr>
                    {% endfor %}
                </table>

        {% else %}
            <div class="alert alert-info" role="alert">Nie udzielono jeszcze żadnych odpowiedzi</div>
        {% endif %}
    </ul>

</div>


{% endif %}