{% if adminID and userID %}
<h1> Dane dostępu do ankiety: </h1>
<p>
<ul>
    <li>
        Identywikator administratora: <strong>{{ adminID }}</strong>.
    </li>
    <li>
        Link do zarządzania ankietą:
        <input class="js-copytextarea" readonly="readonly" value="{{ adminURL }}">
        <button class="js-textareacopybtn"><span class="glyphicon glyphicon-duplicate"></span></button>
    </li>
    <li>
        Identyfikator dla odpowiadajcych: <strong>{{ userID }}</strong>
    </li>
    <li>
        Link dla ankietowanych:
        <input class="js-copytextarea2" readonly="readonly" value="{{ userURL }}">
        <button class="js-textareacopybtn2"><span class="glyphicon glyphicon-duplicate"></span></button>
    </li>
</ul>
</p>

<script type="text/javascript">

var copyTextareaBtn = document.querySelector('.js-textareacopybtn');

    copyTextareaBtn.addEventListener('click', function(event) {
        toCopy = document.querySelector('.js-copytextarea');
        toCopy.select();

        try {
            document.execCommand('copy');
         } catch (err) {
            alert("Kopiowanie do schowka nie powiodło się.");
         }
    });

    var copyTextareaBtn2 = document.querySelector('.js-textareacopybtn2');

    copyTextareaBtn2.addEventListener('click', function(event) {
        toCopy = document.querySelector('.js-copytextarea2');
        toCopy.select();

        try {
            document.execCommand('copy');
         } catch (err) {
            alert("Kopiowanie do schowka nie powiodło się.");
         }
    });


    </script>
{% endif %}