{% if adminID %}
<h1>
    Odpowiedzi:
</h1>

<p>
<ul>
    {% for fromDate,toDate,fitUsers,numberOfVotes in answerDates %}
        <li>
            <strong>
                {{ fromDate }} - {{ toDate }}
            </strong>
            <ol>
                {% for name,surname,email in fitUsers %}
                <li>
                    {{ name }} {{ surname }} {{ email }}
                </li>
                {% endfor %}
            </ol>
        </li>
    {% endfor %}


</ul>
</p>

<div id="piechart" style="width: 100%;"></div>

<form action="{% url 'pdfReport' %}?adminID={{ adminID }}" method="post" class="form-signin" >

            {% csrf_token %}
        <button class="btn btn-default navbar-bt" type="submit" style="width: 10;">
            Pobierz raport w pliku pdf
        </button>
</form>

{% endif %}